# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
/build/
/.dart_tool/
/.idea/
/.metadata
/.packages

# Flutter/Dart/Pub related
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
*.iml
*.ipr
*.iws
nbproject/

# Generated plugin registrant files
/ios/Flutter/Generated.xcconfig
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/macos/Flutter/GeneratedPluginRegistrant.swift
/web/generated_plugin_registrant.dart

# Generated plugin files for desktop
/windows/flutter/generated_*.cc
/windows/flutter/generated_*.h
/windows/flutter/generated_plugins.cmake
/linux/flutter/generated_*.cc
/linux/flutter/generated_*.h
/linux/flutter/generated_plugins.cmake